.album-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.album-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 98%;
}

.album-photos > img:hover {
  cursor: pointer;
}

@keyframes enlarge {
  from {
    size: 1;
  }
  to {
    size: 1.5;
  }
}

.square-photo {
  width: 70vmin;
  height: 70vmin;
  object-fit: cover;

  border-radius: 25px;
  border: 1px solid black;
  margin: 5vmin;
  box-shadow: 0px 1vmin 2vmin;
}

.rectangle-photo {
  width: 120vmin;
  height: 70vmin;
  object-fit: cover;

  border-radius: 25px;
  border: 1px solid black;
  margin: 5vmin;
  box-shadow: 0px 1vmin 2vmin;
}

.album-buttons {
  margin: 5vmin;
}

.album-buttons > button {
  margin: 1vmin;
  width: 8vmin;
  height: 8vmin;

  border-color: transparent;
  border-radius: 30%;
  cursor: pointer;

  color: var(--text-color);
  font-size: 4vmin;
  font-style: bold;

  box-shadow: 0px 0.05vmin 2vmin;
}

@media screen and (max-width: 1200px) {
  .album-photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .square-photo {
    width: 38vw;
    height: 38vw;
  }

  .rectangle-photo {
    width: 90%;
    height: 38vw;
  }
}

/* Opening the albums */

.scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: relative;

  width: 100svw;
  height: 100svh;

  background-color: black;
}

.scroller > img {
  max-width: 80svw;
  max-height: 95svh;

  object-fit: contain;

  border-radius: 25px;

  cursor: pointer;
}

.switch,
.close {
  position: absolute;

  width: 8svh;
  height: 8svh;
  background-color: black;

  border-color: transparent;
  border-radius: 50%;

  text-align: center;
  font-size: 5svh;
  color: var(--background-color);
  cursor: pointer;
}

.switch:hover,
.close:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.close {
  left: 2svh;
  top: 2svh;
}

.left,
.right {
  top: 44svh;

  width: 12svh;
  height: 12svh;

  font-size: 8svh;
}

.left {
  left: 5svh;
}

.right {
  right: 5svh;
}

@media screen and (max-width: 1200px) {
  .left,
  .right {
    top: auto;
    bottom: 5svh;
  }
}
