.album-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.album-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 98%;
}

.album-photos > img {
  transition-duration: 0.25s;
}

.album-photos > img:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  transform: translateY(-6px) scale(1.025);
}

@keyframes enlarge {
  from {
    size: 1;
  }
  to {
    size: 1.5;
  }
}

.square-photo {
  width: 70vmin;
  height: 70vmin;
  object-fit: cover;

  border-radius: 25px;
  border-color: transparent;
  margin: 5vmin;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
}

.rectangle-photo {
  width: 120vmin;
  height: 70vmin;
  object-fit: cover;

  border-radius: 25px;
  border-color: transparent;
  margin: 5vmin;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
}

.album-buttons {
  margin: 5vmin;
}

.album-buttons > button {
  margin: 1vmin;
  width: 8vmin;
  height: 8vmin;

  border-color: transparent;
  border-radius: 30%;
  cursor: pointer;

  color: var(--text-color);
  font-size: 4vmin;
  font-style: bold;

  box-shadow: 0px 0.05vmin 2vmin;
}

@media screen and (max-width: 1200px) {
  .album-photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .square-photo {
    width: 38vw;
    height: 38vw;
  }

  .rectangle-photo {
    width: 90%;
    height: 38vw;
  }
}

/* Opening the albums */

.scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* overflow-x: hidden; */
  overflow: hidden;
  overflow-y: hidden;

  position: relative;

  width: 100svw;
  height: 100svh;

  background-color: black;
}

.scroller > img {
  transition: 0.25s;
  max-width: 80svw;
  max-height: 95svh;

  object-fit: contain;

  border-radius: 25px;

  cursor: pointer;
}

.scroller > img:hover {
  transform: translateY(-6px) scale(1.025);
  transition: 0.25s;
}

.switch,
.close {
  transition: 0.25s;
  position: absolute;

  width: 8svh;
  height: 8svh;
  background-color: transparent;

  border-color: transparent;
  border-radius: 50%;

  text-align: center;
  font-size: 5svh;
  color: var(--background-color);
  cursor: pointer;
}

.switch:hover,
.close:hover {
  transform: translateY(-6px) scale(1.025);
  transition: 0.25s;
  color: var(--primary-color);
}

.close {
  left: 2svh;
  top: 2svh;
}

.left,
.right {
  top: 44svh;

  width: 12svh;
  height: 12svh;

  font-size: 8svh;
}

.left {
  left: 5svh;
}

.right {
  right: 5svh;
}

@media screen and (max-width: 1200px) {

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .left,
  .right {
    opacity: 0;

    top: 0;
    width: 50%;
    height: 100%;

    padding: 0;
    padding-top: 60svh;
  }

  .scroller {
    height: 100svh;
    overflow: hidden;
    margin: 0;
  }

  body {
    height: auto;
  }

  .scroller > img {
    width: 100svw;
    max-width: 100%;
  }
}
