/*
    Color Codes
*/

/* :root {
  --background-color: #410061;
  --background-color-darker: rgb(239, 233, 225);
  --primary-color: #bda4cb;
  --seconadry-color: #b5f47e;
  --seconadry-color-darker: #8ec063;
  --accent-color: #fc9f66;
  --text-color: #15061d;
  --active-button: #bda4cb;
} */

/* :root {
  --background-color: #f6fdff;
  --background-color-darker: #e6edef;
  --primary-color: #0fcdf5;
  --seconadry-color: #ea7cfa;
  --accent-color: #f2d6fd;
  --text-color: #1e1306;
  --active-button: #0fcdf5;
} */

:root {
  --background-color: #fffaf1;
  --background-color-darker: #f7f2ea;
  --background-color-second: #d9993f;
  --primary-color: #d9993f;
  --seconadry-color: #bc5251;
  --accent-color: #bc5251;
  --text-color: #1e1306;
  --active-button: #d9993f;
}

/* :root {
  --background-color: #fffaf1;
  --background-color-darker: #f7f2ea;
  --background-color-second: #d9993f;
  --primary-color: #d9993f;
  --seconadry-color: #c4e990;
  --accent-color: #b2d9c4;
  --text-color: #1e1306;
  --active-button: #d9993f;
} */

/*
  Buttons
*/
/* 
.btn-one {
  background-color: var(--seconadry-color);
  transition-duration: 0.25s;
}

.btn-one:hover {
  background-color: var(--accent-color);
  transition-duration: 0.25s;
  transform: translateY(-6px);
} */

.btn-two:hover {
  box-shadow: 0 0px 25px 5px var(--accent-color);
  transition-duration: 0.25s;
  transform: translateY(-6px);
}

.btn-two {
  background-color: var(--accent-color);
  transition-duration: 0.25s;
}

.btn-three {
  background-color: var(--primary-color);
  transition-duration: 0.25s;
}

.btn-three:hover {
  box-shadow: 0 0px 25px 5px var(--primary-color);
  transition-duration: 0.25s;
  transform: translateY(-6px);
}

/*
    The Heading of all the pages
*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 2.75vmin;
  color: var(--text-color);
  background-color: var(--background-color);

  max-width: 100%;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
}

@keyframes hide_heading {
  from {
    top: 0px;
  }
  to {
    top: -11svh;
  }
}

@keyframes show_heading {
  from {
    top: -11svh;
  }
  to {
    top: 0px;
  }
}

.heading {
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color-darker);
  height: 10svh;

  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 2;
}

.heading-content {
  width: 100%;
  margin-left: 6vmin;
  margin-right: 6vmin;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-content > h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
}

.heading-content > h1 > img {
  margin-right: 3vmin;
  cursor: pointer;
  width: 55px;
  border-radius: 25%;
}

.heading-content > ul {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-top: 4vmin;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.heading-content > ul > li > button {
  margin: 2vmin;
  transition-duration: 0.1s;

  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 3vmin;
}

.heading-content > ul > li > button:hover:not(.active) {
  /* color: var(--seconadry-color-darker); */
  transition-duration: 0.1s;
  transform: translateY(-2px);
  border-bottom: 1px solid black;
}

.heading-content > ul > li > button.active {
  color: var(--active-button);
  cursor: auto;
}

.dropdown {
  display: none;
}

/*
  Disable the header content buttons and enable only one button
  to show the list at 1200px
*/
@media screen and (max-width: 1200px) {
  .heading {
    height: 65px;
  }

  .heading-content > ul {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Button */
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 2vmin;
    border: none;
    cursor: pointer;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: 170%;
    right: -35%;
    align-self: center;
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--active-button);
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: flex;
    flex-direction: column;
  }
}

/*
  The contact part of every page
*/

.about-info {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vmin;
  height: 100lvh;

  margin-bottom: 0;
  border-top: 1px solid gray;
}

.social-medias {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.one-social {
  display: flex;
  flex-direction: row;
  font-size: 6vmin;
  align-items: center;
}

.one-social > a > img {
  width: 20vmin;
}

.one-social > p {
  padding-left: 25px;
}

.contact-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 48%;
  font-size: 8vmin;
  font-style: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-button > p {
  margin-bottom: 8vmin;
  font-weight: 500;
}

.contact-button > button {
  width: 40vmin;
  height: 10vmin;

  border-radius: 20px;
  border-color: transparent;

  color: var(--text-color);

  font-size: 5vmin;
  box-shadow: 0px 1vmin 2vmin;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .about-info {
    flex-direction: column-reverse;
    height: 102lvh;
  }

  .contact-button {
    width: 100%;
  }

  .social-medias {
    width: 100%;
    margin-top: 4vmin;
  }
}
