.main-text {
  padding: 4vmin;
  padding-top: 2svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.main-text > h1 {
  text-align: center;
}

/*
  Photos with the button on the left side
*/

.big-photo-button-left {
  position: relative;
  width: 100%;
  height: 86svh;
  margin-bottom: 5vmin;
  overflow: hidden;
  border-radius: 35px;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
}

.big-photo-button-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: transparent;
}

.big-photo-button-left > button {
  position: absolute;
  bottom: 5vmin;
  left: 5vmin;
  width: 20svw;
  height: 10vmin;

  border-radius: 20px;
  border-color: transparent;

  color: var(--text-color);

  font-size: 5vmin;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.big-photo-button-left > p {
  position: absolute;
  right: 8vmin;
  bottom: -2vmin;

  font-weight: bold;
  font-size: 6vmin;
  color: var(--primary-color-lighter);
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;

  width: 140vmin;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .main-text {
    padding: 0vmin;  }

  .big-photo-button-left > img {
    border-radius: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* align-self: center; */
  }

  .big-photo-button-left > p {
    font-size: 13vmin;
    width: 80vmin;
    top: 0;
  }

  .big-photo-button-left {
    overflow-x: hidden;
    margin-bottom: -2px;
    height: 105svh;
    border-radius: 0px;
    /* object-fit: fill; */
    object-fit: scale-down;
  }

  .big-photo-button-left > button {
    width: 40svw;
    margin-bottom: 16svh;
  }
}

/*
  Photos with the button on the right side
*/

.big-photo-button-right {
  position: relative;
  align-content: center;
  width: 100%;
  height: 95svh;
  margin-bottom: 5vmin;
  overflow: hidden;
  box-shadow: 0px 0.5vmin 6vmin rgba(0, 0, 0, 0.5);
  border-radius: 35px;
}

.big-photo-button-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-photo-button-right > button {
  position: absolute;
  bottom: 5vmin;
  right: 5vmin;
  width: 20svw;
  height: 10vmin;

  border-radius: 20px;
  border-color: transparent;

  color: var(--text-color);

  font-size: 5vmin;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.big-photo-button-right > p {
  position: absolute;
  left: 8vmin;

  font-weight: bold;
  bottom: -2vmin;
  font-size: 6vmin;
  color: var(--primary-color-lighter);
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;

  width: 140vmin;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .main-text {
    padding: 0vmin;
    border-radius: 0;
  }

  .big-photo-button-right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .big-photo-button-right > p {
    font-size: 13vmin;
    width: 80vmin;
    top: 0;
  }

  .big-photo-button-right {
    overflow-x: hidden;
    height: 105svh;
    border-radius: 0;
    overflow: hidden;
  }

  .big-photo-button-right > button {
    width: 40svw;
    margin-bottom: 2svh;
  }
}

/*
  Photo and buttons
*/

.photo-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;

  height: 105svh;
  align-items: center;
}

.photo-and-buttons > img {
  width: 55vmin;
  height: 55vmin;
  border-radius: 25px;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  border-color: transparent;
}

.text-and-buttons {
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  color: var(--text-color);
  font-size: 8vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.buttons > button {
  width: 15svw;
  height: 10vmin;

  border-radius: 20px;
  border-color: transparent;

  color: var(--text-color);

  font-size: 5vmin;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .photo-and-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .photo-and-buttons > img {
    width: 30svh;
    height: 30svh;
  }

  .text-and-buttons > p {
    margin: 0px;
    margin-bottom: 4svh;
    font-size: 5svh;
    /* padding: 0; */
  }

  .column-reversed {
    flex-direction: column-reverse;
  }

  .buttons > button {
    width: 48%;
    font-size: 3svh;
  }

  .buttons {
    width: 100%;
  }
}

/*
  Wines and their descriptions
*/

.checkout {
  font-size: 4vmin;
  margin-top: 4vmin;
  margin-bottom: 0;
}

.checkout > h1 {
  margin-bottom: 0;
}

.bottles {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  /* height: 29.5vw; */
  height: 90svh;
  /* align-items: ; */
  margin: 15px;
}

.bottles-scroll {
  display: flex;
  flex-direction: row;
}

.one-wine {
  transition-duration: 0.25s;
  position: relative;
  height: 23.5vw;
  border-radius: 25px;
  width: 15.5vw;
  overflow: hidden;
  box-shadow: 0px 0.5vmin 4vmin rgba(0, 0, 0, 0.5);
  margin: 50px;
  cursor: pointer;
  border-color: transparent;
}

.one-wine > img {
  width: 15.5vw;
}

.wine-desc {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--background-color-second);
  text-align: center;
  height: 75px;
  font-size: 1.75vmin;
  border-top: 1px solid black;
}

.one-wine:hover {
  transition-duration: 0.25s;
  transform: translateY(-6px);
  box-shadow: 0px 0px 25px var(--seconadry-color);
}

.one-wine:hover > .wine-desc {
  background-color: var(--seconadry-color);
  transition-duration: 0.25s;
}

.wine-desc > h2 {
  margin: 0px;
  margin-top: 2vmin;
}

@media screen and (min-width: 1600px) {
  .wine-desc > p {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .bottles { 
    align-items: center;
    }

  .bottles-scroll {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .bottles {
    background-color: var(--background-color-darker);
  }

  .bottles {
    height: 350px;
  }

  .one-wine {
    width: 155px;
    height: 235px;
  }

  .one-wine > img {
    width: 155px;
  }

  .wine-desc {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wine-desc > h2 {
    margin: 0;
  }

  .wine-desc > p {
    display: none;
  }
}
